* {
	box-sizing: border-box;
}

body {
	background: #fdfdfd;
	height: 100%;
}

html {
	height: 100%;
}
#main {
	height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Variables for colors on the 4 pages

//dark back light text

// $homeback: #003300;
// $hometext: lighten(#bcf421, 15%);
// $blogback: #000040;
// $blogtext: #BFEFFF;
// $projectsback: #660000;
// $projectstext: lighten(#ff6600, 25%);
// $contactback: black;
// $contacttext: white;

//light back dark text

$hometext: lighten(#003300, 2%);
$homeback: lighten(#bcf421, 40%);
$blogtext: lighten(#000040, 10%);
$blogback: lighten(#BFEFFF, 8%);
$projectstext: lighten(#660000, 10%);
$projectsback: lighten(#ff6600, 48%);
$contacttext: black;
$contactback: white;

//white back dark text

// $hometext: #003300;
// $homeback: white;
// $blogtext: #000040;
// $blogback: white;
// $projectstext: #660000;
// $projectsback: white;
// $contacttext: black;
// $contactback: white;


@import 'directives/main';
@import 'home/main';
@import 'projects/main';
@import 'blog/main';
@import 'contact/main';
